.img-me-override {
  border-radius: 50%;
  margin-bottom: 3rem;
  margin-top: 1.25rem;
  border-radius: 50%;
}

.about-title {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.about-second-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
}
