:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

#app-cont {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 68px auto 150px;
  grid-template-areas:
  "header"
  "content"
  "footer";
  color: #444;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-cust{
    background: rgba(233, 228, 228, 0.199);
}

.img-me{
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.quick-intro{
    margin-top: 20px;
}

.p-img-div{
    min-width: 225px;
    min-height: 150px;
    max-width: 225px;
    max-height: 150px;
    border: 1px solid black;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
}

#my-ports{
    margin-bottom: 15px;
}

.portimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portimage, .view-destroyer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.view-destroyer{
    visibility: hidden;
    background: rgba(0, 0, 0, 0.644);
    z-index: 1;
}

.destroyer-text{
    font-size: 2em;
    color: #fff;
}

.another-a{
    color: rgb(68, 197, 230);
    text-decoration: underline;
}

.another-a:hover{
    color: rgb(200, 118, 204);
}

.p-about{
    text-indent: 2.5em;
    text-align: left;
    color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
