/* NOTE: other sizes */
/*
* 20rem - 320px
* 40rem - 640px
*       - 481px
* 64rem - 1024px
* 80rem - 1280px
* 96rem - 1536px
*/

/* NOTE: find and replace if breakpoint sized needs changing */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;

  --max-width: 540px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media only screen and (min-width: 576px) {
  :root {
    --max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    --max-width: 1320px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

#app-cont {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: 68px auto 150px;
  grid-template-areas:
  "header"
  "content"
  "footer";
  color: #444;
}

.quick-intro{
    margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
